
{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .form-and-title{
            margin-top: 12%;
            margin-bottom: 5%;
            width: 70%;
            height: 360px;
            margin-left: 15%;
        }
        h2 {
            text-align: center;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="form-and-title">
        <h2>Change Password</h2>
        {{ form_start(form) }}
        {% if errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        <div class="form-group">
            <label>Old Password</label>
            {{ form_widget(form.oldPassword) }}
        </div>
        <div class="form-group">
            <label>New Password</label>
            {{ form_widget(form.newPassword) }}
            <small class="text-muted">
                Minimum eight characters, at least one letter and one number
            </small>
        </div>
        {{ form_widget(form.submit) }}
        {{ form_end(form) }}
    </div>

{% endblock %}