
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .card {
            width: 70%;
        }
        .card-all{
            margin-top: 8%;
            margin-left: 20%;
        }
    .pagination
    </style>
{% endblock %}
{% block body %}
    <div class="card-all">
        {% for post in posts %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text">{{ post.description }}</p>
                    <a href="{{ path('viewPost',{'id': post.id}) }}" class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on {{ post.createdAt|date('M d ,Y') }} by
                    <a href="#">{{ post.user.username }}</a>
                </div>
            </div>
        {% endfor %}

        <div class="pagination">
            {{ knp_pagination_render(posts) }}
        </div>
    </div>
{% endblock %}